<div id="ListaClientes" data-role="view" data-title="Lista Clientes" data-layout="main" data-model="app.funcionalidad01" data-before-show="app.funcionalidad01.beforeShow" data-show="app.funcionalidad01.onShow" data-after-show="app.funcionalidad01.afterShow">
    <!-- START_CUSTOM_CODE_funcionalidad01 -->

    <div id="lstCliente" class="container-fluid"></div>
    
    <script type="text/x-kendo-tmpl" id="tmpLstCliente">
         <div class="row BorderItemLstCliente">
            <div class="col-xs-12 ItemLstCliente">
                <b>#:ClienteRazonSocial#</b>                
            </div>
        </div>
    </script>
    
    <!--
    NOTA: Si puo intercambiare fra kendoListView e kendoMobileListView
    ATTENZIONE: kendoMobileListView puo gestire un template specializzato per editing ** editTemplate **
    Entrambe le opzioni kendoListView e kendoMobileListView suppportano Add di nuovi item
    La f01 di AUSA richiede uso di kendoMobileListView
    -->

    <script>
        $(document).ready(function () {
            $("#lstCliente").kendoListView({
                dataSource: dsCliente,
                template: kendo.template($("#tmpLstCliente").html()),
                selectable: true,
                change: function(e) {
                    
                    var row = $(".k-state-selected").select();
                    console.log("List View ClienteID > " + this.dataItem(row).ClienteID);
                    $("#det-nombre").html($.trim(this.dataItem(row).ClienteRazonSocial));
                    ClienteID = this.dataItem(row).ClienteID;
                    //console.log("E > data: " + e.dataItem);

                    /*
                    *** hooks to handle kendoMobileListView data structure ***
                    $("#det-nombre").html(e.dataItem.nombre);
                    $("#det-rubro").html(e.dataItem.rubro);
                    get_Contactos_Clientes(e.dataItem.id);
                    */                    

                    //Apply the filter to the Custormer's contact list                    
                    // dsContactosCliente.filter({field: "ClienteID", operator: "eq", value: this.dataItem(row).ClienteID});
                    
                    //Change view to detail
                    window.location.href = "#det-cliente";
                    //window.location.href = "components/funcionalidad01/viewDetalle.html";
                }
            });
        });
    </script>

    <!-- END_CUSTOM_CODE_funcionalidad01 -->
</div>

<div data-role="view" id="det-cliente" data-title="Detalle"  data-show="app.funcionalidad01.MostraDetalleCliente">
    <div data-role="navbar">
        <span data-role="view-title"></span>
        <a data-role="button" data-align="right" onclick="GoBackListaClientes();"><span class="k-icon k-i-undo"></span></a>
    </div>
    
    <!-- ACTUALIZACION CONSULTA CLIENTE START  -->
    <!-- TODO: DATA HTML HARD CODED, APPLY STYLE CSS CLASES REFACTOR IT  -->
    <!-- TODO-WIP: FECHA y HORA HARD CODED CONSUME FROM WS  -->
    <div class="container-fluid" style="border-style: solid; border-top: white; border-left: white; border-right: white;">
        <div class="row">
            <div class="col-xs-12">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <b>ACTUALIZACION CONSULTA CLIENTE</b>
            </div>            
        </div>
        <div class="row">
            <div class="col-xs-12">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3"><b>FECHA</b></div>
            <div class="col-xs-9"><b>dd Mmm aaaa</b></div>
         </div>
        <div class="row">
            <div class="col-xs-3"><b>HORA</b></div>
            <div class="col-xs-9"><b>hh:mm:ss</b></div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                &nbsp;
            </div>
        </div>
    </div>
    <!-- ACTUALIZACION CONSULTA CLIENTE END  -->
    
    <!--  CLIENTE START  -->
    <!-- TODO: APPLY STYLE CSS CLASES REFACTOR IT  -->
    <div class="container-fluid" style="border-style: solid; border-top: white; border-left: white; border-right: white;">
        <div class="row">
            <div class="col-xs-12">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
                <strong>CLIENTE</strong>                
            </div>            
            <div class="col-xs-9">
                <b id="det-nombre"></b>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                &nbsp;
            </div>
        </div>
    </div>
    <!--  CLIENTE END  -->
    
    <!--  DETALLE CONTACTOS CLIENTE START  -->
    <!-- TODO: APPLY STYLE CSS CLASES REFACTOR IT  -->
    <div class="container-fluid" style="border-style: solid; border-top: white; border-left: white; border-right: white;">
        <div class="row">
            <div class="col-xs-12">
                &nbsp;
            </div>
        </div>
        <details>
            <summary><b>DETALLE CONTACTOS CLIENTE</b></summary>        
            <div class="row">
                <div class="col-xs-12">
                    &nbsp;
                </div>
            </div>            
            <div class="row">
                <div class="col-xs-3 MarginTop7">
                    <b>PERSONA:</b>
                </div>
                <div class="col-xs-9">
                    <b>
                        <input id="ContactosCliente" />    
                    </b>                    
                </div>
            </div>            
            <div class="row">
                <div class="col-xs-12">
                    &nbsp;
                </div>
            </div>            
            <div class="row">
                <div class="col-xs-3 MarginTop7">
                    <b>TELEFONO:</b>
                </div>
                <div class="col-xs-9">
                    <b>
                        <input id="TelefonosContactoCliente" />
                    </b>                    
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <!-- TODO-WIP -->
                    <br>
                    <div id="btnLlamar" class="btnLlamar" onclick="MakeCall();">LLAMAR</div>
                </div>            
            </div>            
            <div class="row">
                <div class="col-xs-12">
                    &nbsp;
                </div>            
            </div>
            <div class="row">
                <div class="col-xs-9">
                    <b>FECHA DE CUMPLEAÑOS:</b>
                </div>
                <div  class="col-xs-3">
                    <b id="FechaCumpleanos">dd mmm</b>
                </div>
            </div>
        </details>        
        <div class="row">
            <div class="col-xs-12">
                &nbsp;
            </div>
        </div>
    </div>
    <!--  DETALLE CONTACTOS CLIENTE END HTML  -->    
    
    <!--  SITUACION DE PAGO START  -->
    <!-- TODO: APPLY STYLE CSS CLASES REFACTOR IT  -->
   <div class="container-fluid" style="border-style: solid; border-top: white; border-left: white; border-right: white;">
        <div class="row">
            <div class="col-xs-12">
                &nbsp;
            </div>
        </div>
       
        <details>
            <summary><b>SITUACION DE PAGO</b></summary>
            <div class="row">
                <div class="col-xs-12">
                    &nbsp;
                </div>
            </div>
            <div class="row">
                <div class="col-xs-9">
                    <b>PORCENTAJE USO DE LA LINEA</b>
                </div>            
                <div class="col-xs-3">
                    <b id="PorcUtilizacionDeLinea">xy.uvz%</b>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    &nbsp;
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <!-- TODO-WIP -->                    
                    <div id="btnMorosidadUtilizacionLinea" class="btnDetMorosidadUtilizacionLinea" onclick="GoToDetMorosidadUtilizacionLinea();" >Morosidad y Utilizacion de Linea</div>
                </div>
            </div>
        </details>
       
        <div class="row">
            <div class="col-xs-12">
                &nbsp;
            </div>
        </div>
    </div>
    <!--  SITUACION DE PAGO END  -->    
    
    <!--  PARTICIPACION DE AUSA START  -->
    <!-- TODO: APPLY STYLE CSS CLASES REFACTOR IT  -->
   <div class="container-fluid" style="border-style: solid; border-top: white; border-left: white; border-right: white;">
        <div class="row">
            <div class="col-xs-12">
                &nbsp;
            </div>
        </div>
       
       <details>
           <summary><b>PARTICIPACION DE AUSA</b></summary>
            <div class="row">
                <div class="col-xs-12">
                    &nbsp;
                </div>
            </div>
           
            <!-- TODO-WIP: IMPLEMENTS VISUAL ALERTS  -->
            <!-- PARTICIPACION CANTIDAD START  -->
           <div class="row MarginBotton5">
               <div class="col-xs-12">
                 <b>PARTICIPACION CANTIDAD</b> 
               </div>
           </div>
           <div class="row MarginBotton5">
               <div class="col-xs-8">
                 - ACUMULADO DEL MES
               </div>
               <div class="col-xs-2">
                 <b id="PorcDespachosVigentes">xy.z%</b>
               </div>
               <div id="AlertaPorcDespachosVigentes" class="col-xs-1">
                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               </div>
               <div class="col-xs-1">
                 &nbsp;
               </div>
           </div>           
           <div class="row MarginBotton5">
               <div class="col-xs-8">
                 - CIERRE DEL MES ANTERIOR
               </div>
               <div class="col-xs-2">
                 <b id="PorcDespachosAnterior">xy.z%</b>
               </div>
               <div id="AlertaPorcDespachosAnterior" class="col-xs-1">
                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               </div>
               <div class="col-xs-1">
                 &nbsp;
               </div>
           </div>
           <!-- PARTICIPACION CANTIDAD END  -->
           <div class="row">
               <div class="col-xs-12">
                 &nbsp; 
               </div>
           </div>           
           <!-- PARTICIPACION FOB MONTO START  -->           
           <div class="row MarginBotton5">
               <div class="col-xs-12">
                 <b>PARTICIPACION FOB MONTO</b> 
               </div>
           </div>           
           <div class="row  MarginBotton5">
               <div class="col-xs-8">
                 - ACUMULADO DEL MES
               </div>
               <div class="col-xs-2">
                 <b id="PorcFOBVigente">xy.z%</b>
               </div>
               <div id="AlertaPorcFOBVigente" class="col-xs-1">
                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               </div>
               <div class="col-xs-1">
                 &nbsp;
               </div>
           </div> 
           <div class="row  MarginBotton5">
               <div class="col-xs-8">
                 - CIERRE DEL MES ANTERIOR
               </div>
               <div class="col-xs-2">
                 <b id="PorcFOBAnterior">xy.z%</b>
               </div>
               <div id="AlertaPorcFOBAnterior" class="col-xs-1">
                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               </div>
               <div class="col-xs-1">
                 &nbsp;
               </div>
           </div>
           <!-- PARTICIPACION FOB MONTO END  -->
           <div class="row">
               <div class="col-xs-12">
                 &nbsp; 
               </div>
           </div>           
           <!-- PARTICIPACION CIF MONTO START  -->           
           <div class="row MarginBotton5">
               <div class="col-xs-12">
                 <b>PARTICIPACION CIF MONTO</b> 
               </div>
           </div>
           <div class="row MarginBotton5">
               <div class="col-xs-8">
                 - ACUMULADO DEL MES
               </div>
               <div class="col-xs-2">
                 <b id="PorcCIFVigente">xy.z%</b>
               </div>
               <div id="AlertaPorcCIFVigente" class="col-xs-1">
                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               </div>
               <div class="col-xs-1">
                 &nbsp;
               </div>
           </div>
           <div class="row MarginBotton5">
               <div class="col-xs-8">
                 - CIERRE DEL MES ANTERIOR
               </div>
               <div class="col-xs-2">
                 <b id="PorcCIFAnterior">xy.z%</b>
               </div>
               <div id="AlertaPorcCIFAnterior" class="col-xs-1">
                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               </div>
               <div class="col-xs-1">
                 &nbsp;
               </div>
           </div>
           <!-- PARTICIPACION CIF MONTO END  -->
       </details>
       
       <div class="row">
            <div class="col-xs-12">
                &nbsp;
            </div>
       </div>  
   </div>
    <!--  PARTICIPACION DE AUSA END  -->

    <!--  PARTICIPACION OTRAS AGENCIAS START  -->
    <!-- TODO: APPLY STYLE CSS CLASES REFACTOR IT  -->
    <div class="container-fluid" style="border-style: solid; border-top: white; border-left: white; border-right: white;">
        <div class="row">
            <div class="col-xs-12">
                &nbsp;
            </div>
        </div>
        <details>
            <summary><b>PARTICIPACION OTRAS AGENCIAS</b></summary>
            <div class="row">
                <div class="col-xs-12">
                    &nbsp;
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <dl id="ParticipacionOtrasAgencias">
                        <dd>- Abc (xy.z%) </dd>
                        <dd>- Def (yz.x%) </dd>
                        <dd>- Ghi (zx.y%) </dd>
                    </dl>
                    <p><b>* al cierre del mes anterior</b></p>
                </div>
            </div>
        </details>
        
        <div class="row">
            <div class="col-xs-12">
                &nbsp;
            </div>
        </div>
    </div> 
    <!--  PARTICIPACION OTRAS AGENCIAS END  -->

    <!--  PARTICIPACION INGRESO POR DESPACHO START  -->
    <!-- TODO:  APPLY STYLE CSS CLASES REFACTOR IT  -->
    <div class="container-fluid" style="border-style: solid; border-top: white; border-left: white; border-right: white;">
        <div class="row">
            <div class="col-xs-12">
                &nbsp;
            </div>
        </div>
        
        <details>
            <summary><b>INGRESO POR DESPACHO</b></summary>
            <div class="row">
                <div class="col-xs-12">
                    &nbsp;
                </div>
            </div>        
            <div class="row MarginBotton5">
                <div class="col-xs-9">
                    <b>CIERRE MES ANTERIOR</b>
                </div>
                <div  class="col-xs-1">
                    <b id="PartDespachoCierreMesAnterior">$xyz.uw</b>
                </div>
                <div class="col-xs-2">
                    &nbsp;
                </div>
            </div>
            <div class="row MarginBotton5">
                <div class="col-xs-9">
                   <b>ACUMULADO DEL MES</b>
                </div>
                <div  class="col-xs-1">
                    <b id="PartDespachoAcumuladoMes">$yzu.wx</b>
                </div>
                <div class="col-xs-2">
                    &nbsp;
                </div>                
            </div>
            <div class="row MarginBotton5">
                <div class="col-xs-9">
                    <b>ACUMULADO ULTIMOS 3 MESES</b>
                </div>
                <div class="col-xs-1">
                    <b id="PartDespachoAcumuladoTresMeses">$zuw.xy</b>
                </div>
                <div class="col-xs-2">
                    &nbsp;
                </div>
            </div>
        </details>
        
        <div class="row">
            <div class="col-xs-12">
                &nbsp;
            </div>
        </div>
    </div>
    <!--  PARTICIPACION INGRESO POR DESPACHO END  -->
    
    <!--  PARTICIPACION INGRESO ADUANAS START  -->
    <!-- TODO:  APPLY STYLE CSS CLASES REFACTOR IT  -->
    <div class="container-fluid" style="border-style: solid; border-top: white; border-left: white; border-right: white;">
        <div class="row">
            <div class="col-xs-12">
                &nbsp;
            </div>
        </div>
        
        <details>
            <summary><b>INGRESO ADUANAS</b></summary>
            <div class="row">
                <div class="col-xs-12">
                    &nbsp;
                </div>
            </div>
            <div class="row MarginBotton5">
                <div class="col-xs-9">
                    <b>CIERRE MES ANTERIOR</b>
                </div>
                <div class="col-xs-3">
                    <b  id="PartAduanaCierreMesAnterior">$xyz.uw</b>
                </div>
            </div>
            <div class="row MarginBotton5">
                <div class="col-xs-9">
                    <b>ACUMULADO DEL MES</b>
                </div>
                <div class="col-xs-3">
                    <b  id="PartAduanaAcumuladoMes">$yzu.wx</b>
                </div>
            </div>
            <div class="row MarginBotton5">
                <div class="col-xs-9">
                    <b>ACUMULADO ULTIMOS 3 MESES</b>
                </div>
                <div class="col-xs-3">
                    <b id="PartAduanaAcumuladoTresMeses">$zuw.xy</b>
                </div>
            </div>            
        </details>        

        <div class="row">
            <div class="col-xs-12">
                &nbsp;
            </div>
        </div>
    </div>
    <!--  PARTICIPACION INGRESO ADUANAS END  -->
    
    <!--  PARTICIPACION CONDICIONES DE PAGO START  -->
    <!-- TODO:  APPLY STYLE CSS CLASES REFACTOR IT  -->
    <div class="container-fluid" style="border-style: solid; border-top: white; border-left: white; border-right: white;">
      <div class="row">
            <div class="col-xs-12">
                &nbsp;
            </div>
      </div>
      <!-- TODO-WIP:  CHANGE TO MODAL VIEW REFACTOR IT  -->  
      <details>
            <summary><b>CONDICIONES DE PAGO</b></summary>
            <div class="row">
                <div id="CondicionesDePago" class="col-xs-12">                    
                    
                </div>
            </div>
          <!-- TODO-WIP:  CHANGE TO MODAL VIEW DIV ALONE MOVED TO THE END  -->          
          

          
      </details>
      
      <div class="row">
         <div class="col-xs-12">
                &nbsp;
         </div>
      </div>
        
    </div> 
    <!--  PARTICIPACION CONDICIONES DE PAGO END  -->

    <!--  PARTICIPACION TARIFAS START  -->
    <!-- TODO: APPLY STYLE CSS CLASES REFACTOR IT  -->
    <!-- TODO-WIP:  CHANGE TO MODAL VIEW REFACTOR IT  -->
    <div class="container-fluid" style="border-style: solid; border-top: white; border-left: white; border-right: white;">
        <div class="row">
            <div class="col-xs-12">
                &nbsp;
            </div>
        </div>
        <details>
            <summary><b> TARIFAS </b></summary>               
            <div class="row">
                <div id="Tarifas" class="col-xs-12">

               </div>
            </div>
            
            <!-- TODO-WIP:  CHANGE TO MODAL TARIFAS DIV ALONE MOVED TO THE END  -->

            
        </details>        
        <div class="row">
            <div class="col-xs-12">
                &nbsp;
            </div>
        </div>
    </div>
    <!--  PARTICIPACION TARIFAS END  -->
    
    <!--  CANTIDAD DE USOS AOL DEL MES  START  -->    
    <!-- TODO:  APPLY STYLE CSS CLASES REFACTOR IT  -->
    <div class="container-fluid" style="border-style: solid; border-top: white; border-left: white; border-right: white;">
      <div class="row">
            <div class="col-xs-12">
                &nbsp;
            </div>
       </div>
        
       <div class="row">
            <div class="col-xs-10">
                <strong>CANTIDAD USOS AOL DEL MES</strong>
            </div>
            <div  class="col-xs-2">
                <b id="UsosAOLdelMes">zuw.xy</b>                
            </div>
       </div>
        
      <div class="row">
            <div class="col-xs-12">
                &nbsp;
            </div>
       </div>        
    </div>
    <!--  CANTIDAD DE USOS AOL DEL MES  END  -->
    
</div>

<!-- TODO-WIP -->
<!-- DETALLE  Morosidad y Utilizacion Linea START-->
<div data-role="view" id="det-MorosidadUtilizacionLinea" data-title="Morosidad y Utilizacion" data-show="app.funcionalidad01.MostraMorosidadUtilizacionLinea">
    <div data-role="navbar">
        <span data-role="view-title"></span>
        <a data-role="button" data-align="right" onclick="GoBackMorosidadUtilizacionLinea();"><span class="k-icon k-i-undo"></span></a>
    </div>
    
    <!--  CLIENTE RAZON SOCIAL START  -->
    <!-- TODO: HTML HARD CODED, APPLY STYLE CSS CLASES REFACTOR IT  -->
    <div class="container-fluid" style="border-style: solid; border-top: white; border-left: white; border-right: white;">
        <div class="row">
            <div class="col-xs-12">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
                <b>CLIENTE</b>
            </div>            
            <div class="col-xs-9">
                <b id="detMULClienteRazonSocial" ></b>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                &nbsp;
            </div>
        </div>
    </div>
    <!--  CLIENTE RAZON SOCIAL  END  -->

    <!--  DEUDA VENCIDA START  -->
    <!-- TODO: HTML HARD CODED,APPLY STYLE CSS CLASES REFACTOR IT  -->
    <div class="container-fluid" style="border-style: solid; border-top: white; border-left: white; border-right: white;">
        <div class="row">
            <div class="col-xs-12">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col-xs-9">
                DEUDA VENCIDA
            </div>            
            <div class="col-xs-3">
                <b id="detMULDeudaVencida" ></b>                
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                &nbsp;
            </div>
        </div>
    </div>
    <!--  DEUDA VENCIDA  END  -->

    <!--  CONDICION PAGO (DIAS) START  -->
    <!-- TODO: HTML HARD CODED,APPLY STYLE CSS CLASES REFACTOR IT  -->
    <div class="container-fluid" style="border-style: solid; border-top: white; border-left: white; border-right: white;">
        <div class="row">
            <div class="col-xs-12">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col-xs-9">
                CONDICION PAGO (DIAS)
            </div>            
            <div class="col-xs-3">
                <b  id="detMULPlazoDePago" ></b>                
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                &nbsp;
            </div>
        </div>
    </div>
    <!--  CONDICION PAGO (DIAS)  END  -->
    
    <!--  LINEA ASIGNADA START  -->
    <!-- TODO: HTML HARD CODED,APPLY STYLE CSS CLASES REFACTOR IT  -->
    <div class="container-fluid" style="border-style: solid; border-top: white; border-left: white; border-right: white;">
        <div class="row">
            <div class="col-xs-12">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col-xs-9">
                LINEA ASIGNADA
            </div>            
            <div class="col-xs-3">
                <b id="detMULLíneaAsignada" ></b>                
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                &nbsp;
            </div>
        </div>
    </div>
    <!--  LINEA ASIGNADA  END  -->
    
    <!--  UTILIZACION ACTUAL START  -->
    <!-- TODO: HTML HARD CODED,APPLY STYLE CSS CLASES REFACTOR IT  -->
    <div class="container-fluid" style="border-style: solid; border-top: white; border-left: white; border-right: white;">
        <div class="row">
            <div class="col-xs-12">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col-xs-9">
                UTILIZACION ACTUAL
            </div>            
            <div class="col-xs-3">
                <b id="detMULUtilizacionActual" ></b>                
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                &nbsp;
            </div>
        </div>
    </div>
    <!--  UTILIZACION ACTUAL  END  -->
    
    <!--  DIFERENCIAS DE LINEAS START  -->
    <!--  DEF:  DIFERENCIAS DE LINEAS = (LINEA ASIGNADA - UTILIZACION ACTUAL) -->
    <!--  IMPORTANTE: VERIFICA CON RODRIGO AUSA LA DEFINIZIONE NON COMPARE NELLA ACTA ESTERNA DI J.RAMIREZ -->    
    <!-- TODO: HTML HARD CODED,APPLY STYLE CSS CLASES REFACTOR IT  -->
    <div class="container-fluid" style="border-style: solid; border-top: white; border-left: white; border-right: white;">
        <div class="row">
            <div class="col-xs-12">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col-xs-9">
                DIFERENCIAS DE LINEAS
            </div>            
            <div class="col-xs-3">
                <b id="detMULDiferenciaDeLineas" ></b>                
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                &nbsp;
            </div>
        </div>
    </div>
    <!--  DIFERENCIAS DE LINEAS  END  -->
    
    <!--  PORC. EN USO DE LA LINEA  ACTUAL START  -->
    <!-- TODO:HTML HARD CODED, APPLY STYLE CSS CLASES REFACTOR IT  -->
    <div class="container-fluid" style="border-style: solid; border-top: white; border-left: white; border-right: white;">
        <div class="row">
            <div class="col-xs-12">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col-xs-9">
                PORC. EN USO  LINEA  ACTUAL
            </div>            
            <div class="col-xs-3">
                <b id="detMULPorcUtilizacionDeLinea" ></b>                
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                &nbsp;
            </div>
        </div>
    </div>
    <!--  PORC. EN USO DE LA LINEA  ACTUAL  END  -->

    <!--  PROMEDIO USO ULTIMO 6 MESES ($) START  -->
    <!-- TODO: HTML HARD CODED, APPLY STYLE CSS CLASES REFACTOR IT  -->
    <div class="container-fluid" style="border-style: solid; border-top: white; border-left: white; border-right: white;">
        <div class="row">
            <div class="col-xs-12">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col-xs-9">
                PROMEDIO USO ULTIMO 6 MESES
            </div>            
            <div class="col-xs-3">
                <b id="detMULUsoDeLineaPromedioUltSeisMeses" ></b>                
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                &nbsp;
            </div>
        </div>
    </div>
    <!--  PROMEDIO USO ULTIMO 6 MESES ($)  END  -->    
    
    <!--  PORC. EN USO PROMEDIO USO ULTIMO 6 MESES ($) START  -->
    <!-- TODO:  APPLY STYLE CSS CLASES REFACTOR IT  -->
    <div class="container-fluid" style="border-style: solid; border-top: white; border-left: white; border-right: white;">
        <div class="row">
            <div class="col-xs-12">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col-xs-9">
                PORC. EN USO PROMEDIO USO ULTIMO 6 MESES
            </div>            
            <div class="col-xs-3">
                <b id="detMULPorcUsoDeLineaPromedioUltSeisMeses" ></b>                
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                &nbsp;
            </div>
        </div>
    </div>
    <!--  PORC. EN USO PROMEDIO USO ULTIMO 6 MESES ($)  END  -->    

    <!-- TODO-WIP -->
    <!--  STATUS AUSA START  -->
    <!-- TODO: APPLY STYLE CSS CLASES REFACTOR IT  -->
    <div class="container-fluid" style="border-style: solid; border-top: white; border-left: white; border-right: white;">
        <div class="row">
            <div class="col-xs-12">
                &nbsp;
            </div>
        </div>
   
        <details>
            <summary><b>STATUS AUSA</b></summary>
            <div class="row">
                <div class="col-xs-12">
                    &nbsp;
                </div>
            </div>
            
            <div class="row">
                <div class="col-xs-9">
                    Monto Linea Factura
                </div>            
                <div class="col-xs-3">
                    <b id="detMULLíneaFacturaAUSA" ></b>                    
                </div>
            </div>
            <div class="row">
                <div class="col-xs-9">
                    Dias Plazo Factura
                </div>            
                <div class="col-xs-3">
                    <b id="detMULPlazoFacturaAUSA" ></b>                    
                </div>
            </div>
            <div class="row">
                <div class="col-xs-9">
                    Monto Línea Letras
                </div>            
                <div class="col-xs-3">
                    <b id="detMULLíneaLetrasAUSA" ></b>                    
                </div>
            </div>
            <div class="row">
                <div class="col-xs-9">
                    Dias Plazo Letras
                </div>            
                <div class="col-xs-3">
                    <b id="detMULPlazoLetrasAUSA" ></b>                    
                </div>
            </div>
            
            <div class="row">
                <div class="col-xs-12">
                    &nbsp;
                </div>
            </div>
        </details>
        
        <div class="row">
                <div class="col-xs-12">
                    &nbsp;
                </div>
        </div>
            
    </div>
    <!--  STATUS AUSA  END  -->    
</div>

<div data-role="modalview" id="ModTarifas" class="PopUpTarifas">
    <div class="container-fluid">
        <div class="row">
             <div class="col-xs-12 TitlePopUp">
                     <br><b id="ModTarifasServicio">***Nombre-Servicio***</b>
             </div>
        </div>
        <div class="row">
             <div class="col-xs-12">
                     <br><b>Observaciones</b><br><br>
             </div>
        </div>
        <div class="row">
             <div class="col-xs-1">
                 &nbsp;
             </div>
             <div class="col-xs-10">
                     <textarea id="ModTarifasObservaciones" readonly rows="20" cols="35"> </textarea>
             </div>
             <div class="col-xs-1">
                 &nbsp;
             </div>
        </div>                
        <br>                
        <div class="row">
            <div class="col-xs-7">
                &nbsp;
            </div>
            <div class="col-xs-5">
                    <button type="button" onclick="$('#ModTarifas').data('kendoMobileModalView').close();">Cerrar</button>                        
            </div>
        </div>    
        <br>                
    </div>
</div>

<div data-role="modalview" id="ModCondPago" class="PopUpCondPago">
 <div class="container-fluid">    
        <div class="row">
             <div class="col-xs-12 TitlePopUp">
                     <b id="ModServicio">***Nombre-Servicio***</b>
             </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-xs-5"><b>Dias Pago</b></div>
            <div class="col-xs-7">
                <b id="ModDiasPago">***Total-Dias-Pago***</b>                        
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-5"><b>Hasta Monto</b></div>
            <div class="col-xs-7">
                <b id="ModHastaMonto">***Hasta-Monto***</b>                        
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-5"><b>Moneda</b></div>
            <div class="col-xs-7">
                <b id="ModMoneda">***Moneda***</b>                        
            </div>
        </div>
        <br>
        <div class="row">
             <div class="col-xs-5"><b>Linea Credito</b></div>
            <div class="col-xs-7">
                <b id="ModLineaCredito">***Linea-Credito***</b>                        
            </div>
        </div>
        <br>
        <div class="row">
             <div class="col-xs-5"><b>Linea Negocio</b></div>
            <div class="col-xs-7">
                <b id="ModLineaNegocio">***Linea-Negocio***</b>                        
            </div>
        </div>
        <br>
        <div class="row">
             <div class="col-xs-5"><b>Compania</b></div>
            <div class="col-xs-7">
                <b id="ModCompania">***Compania***</b>                        
            </div>
        </div>
        <br>                
        <div class="row">
            <div class="col-xs-7">
                &nbsp;
            </div>
            <div class="col-xs-5">
                    <button type="button" onclick="$('#ModCondPago').data('kendoMobileModalView').close();">Cerrar</button>                        
            </div>
        </div>    
        <br>
</div>    
</div>
<!-- DETALLE  Morosidad y Utilizacion Linea END-->
